*{
    padding: 0;
    margin: 0;
    text-align: center;
}
.top{
    background-color: rgb(7, 21, 43);
    color: white;
}
.top h1{
    height: 5rem;
    line-height: 5rem;
}
.container{
    height: 80vh;
    margin: 0 auto;
}
.choice{
    background-color: rgb(7, 21, 43);
    display: inline-block;
    border-radius: 50%;
    width: 30vmin;
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    
}  
.choices{
    height: 50vmin;
   display: flex;
   gap: 1.5rem;
   justify-content: center;
   align-items: center;

} 
.choice img:hover{
    cursor: pointer;
    width: 26vmin;
    height: 26vmin;
}

.choice img{
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    border-radius: 50%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 3vw;
}
.left{
    font-size: 2vw;
}
.right{
    font-size: 2vw;
}
#turn{
    background-color: rgb(7, 21, 43);
    color: white;
    font-size: 2vw;
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
}